<h2> Welcome {{user.name}} </h2>
<div>
    <label>name:
      <input [(ngModel)]="user.name" placeholder="name"/>
    </label>
</div>
<img src='assets/Images/homepic.jpg' alt="Welcome Picture"/>
<div class=hometext>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu laoreet elit, non mollis est. Suspendisse potenti. Aenean volutpat lorem et lacus commodo, eget auctor nisi finibus. Fusce nec eros sapien. Praesent tincidunt fringilla gravida. In eget odio vitae dui iaculis pellentesque quis et justo. Suspendisse ac dolor in tellus ullamcorper vehicula. Curabitur iaculis dui scelerisque purus ultricies vehicula. Vivamus rhoncus eleifend sagittis. Sed pulvinar eget urna sit amet sagittis. Donec eleifend, sapien non finibus luctus, enim est interdum orci, et hendrerit leo nisi vitae lorem. Praesent aliquet rutrum facilisis. Sed gravida velit arcu, quis ullamcorper ipsum efficitur a. Aenean ullamcorper, sapien ut accumsan ornare, dui lectus consequat urna, quis volutpat urna quam quis turpis. Aliquam non augue in enim varius efficitur et quis justo.
</div>
